<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0C7489" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>BioSeed | Accueil</title>

    <link rel="stylesheet" href="CSS/index.css" type="text/css" />
</head>
<body>
    <!-- Start animation -->
    <div class="anim">
        <div class="drip"></div>
        <div class="logo">
            <img src="img/bs_shape.png" alt="BioSeed shape" class="bs-shape" />
            <img src="img/bs_shape_border.png" alt="BioSeed shape border" class="bs-shape-border" />
        </div>
    </div>

    <!-- Main content -->
    <main>
        <nav>
            <ion-icon name="caret-back-circle" id="prev_btn" class="disabled"></ion-icon>
            <div class="bs-main-shape">
                <img src="img/add_btn.png" alt="Main button" class="main-btn" />
                <img src="img/bs_shape_border_green.png" alt="BioSeed shape border" class="bs-shape-border" id="btn_border" />
            </div>
            <ion-icon name="caret-forward-circle" id="next_btn"></ion-icon>
        </nav>
        <aside>
            <div class="circles">
                <div class="nav-circle active"></div>
                <div class="nav-circle"></div>
            </div>
            <p class="action-info" id="info">Je veux créer !</p>
        </aside>
    </main>

    <!-- Ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- JS scripts -->
    <script type="text/javascript" src="JS/home.js"></script>
</body>
</html>