/* -------------------------------------------------------------------------- */
/*                           The main page LESS file                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */

// Colors
@bg-color: black;
@text-color: white;
@primary-color: #0C7489;
@secondary-color: #AFE3C0;

// Sizes
@drip-size: 20px;

// Opacities
@white-opacity: 0.8;

/* ---------------------------------- Main ---------------------------------- */

body {
    background-color: @bg-color;
    padding: 0;
    margin: 0;
    color: @text-color;
    font-family: sans-serif;
}

main {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;

        ion-icon {
            display: block;
            font-size: 30px;
            opacity: 0.6;
            cursor: pointer;
        }

        .disabled {
            opacity: 0.2;
            cursor: default;
        }

        .bs-main-shape {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
    
            .main-btn {
                display: block;
                width: auto;
                height: 80px;
                margin: 0;
                opacity: @white-opacity;
                cursor: pointer;

                &:hover {
                    opacity: calc(@white-opacity - 0.2);
                }
            }
    
            .bs-shape-border {
                display: block;
                width: auto;
                height: 120px;
                margin-top: -100px;
            }
        }
    }
}

.show-main {
    opacity: 1;
    transition: opacity 0.5s;
}

/* -------------------------------- Animation ------------------------------- */

.anim {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .drip {
        position: absolute;
        left: 49%;
        width: @drip-size;
        height: @drip-size;
        background-color: @primary-color;
        border-radius: 0 0 @drip-size @drip-size;
        opacity: 0;
    }

    .falling {
        animation-name: building-logo;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.51, -0.13, 0.91, 1.08);
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .bs-shape {
            display: block;
            width: auto;
            height: 80px;
            margin: 0;
            z-index: 1;
        }
    
        .bs-shape-border {
            display: block;
            width: auto;
            height: 120px;
            margin-top: -100px;
            z-index: 2;
            opacity: 0;
        }    
    }

    .show {
        cursor: pointer;

        .bs-shape-border {
            opacity: @white-opacity;
            transition: opacity 1s;
        }

        &:hover .bs-shape-border {
            height: 124px;
            margin-top: -102px;
        }
    }
}

/* -------------------------------- Keyframes ------------------------------- */

@keyframes building-logo {
    0% {
        top: 0;
        border-radius: 0 0 @drip-size @drip-size;
        opacity: 1;
    }
    10% {
        border-radius: @drip-size;
    }
    100% {
        top: 45%;
        border-radius: @drip-size;
        opacity: 1;
    }
}

@media screen and (min-width: 600px) {
    main nav {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    main nav {
        width: 30%;
    }
}