/* -------------------------------------------------------------------------- */
/*                           The main page LESS file                          */
/* -------------------------------------------------------------------------- */
/* --------------------------------- Imports -------------------------------- */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
/* -------------------------------- Variables ------------------------------- */
/* ---------------------------------- Main ---------------------------------- */
body {
  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}
main {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}
main nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}
main nav ion-icon {
  display: block;
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}
main nav .disabled {
  opacity: 0.2;
  cursor: default;
}
main nav .bs-main-shape {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
main nav .bs-main-shape .main-btn {
  display: block;
  width: auto;
  height: 80px;
  margin: 0;
  opacity: 0.8;
  cursor: pointer;
}
main nav .bs-main-shape .main-btn:hover {
  opacity: calc(0.8 - 0.2);
}
main nav .bs-main-shape .bs-shape-border {
  display: block;
  width: auto;
  height: 120px;
  margin-top: -100px;
}
main aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
main aside .circles {
  display: flex;
  justify-content: space-between;
  width: 40px;
}
main aside .circles .nav-circle {
  opacity: 0.8;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}
main aside .circles .active {
  background-color: white;
  cursor: default;
}
main aside .action-info {
  text-align: center;
  color: white;
  font-weight: bold;
}
.show-main {
  opacity: 1;
  transition: opacity 0.5s;
}
/* -------------------------------- Animation ------------------------------- */
.anim {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.anim .drip {
  position: absolute;
  left: 49%;
  width: 20px;
  height: 20px;
  background-color: #0C7489;
  border-radius: 0 0 20px 20px;
  opacity: 0;
}
.anim .falling {
  animation-name: building-logo;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.51, -0.13, 0.91, 1.08);
}
.anim .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.anim .logo .bs-shape {
  display: block;
  width: auto;
  height: 80px;
  margin: 0;
  z-index: 1;
}
.anim .logo .bs-shape-border {
  display: block;
  width: auto;
  height: 120px;
  margin-top: -100px;
  z-index: 2;
  opacity: 0;
}
.anim .show {
  cursor: pointer;
}
.anim .show .bs-shape-border {
  opacity: 0.8;
  transition: opacity 1s;
}
.anim .show:hover .bs-shape-border {
  height: 124px;
  margin-top: -102px;
}
/* -------------------------------- Keyframes ------------------------------- */
@keyframes building-logo {
  0% {
    top: 0;
    border-radius: 0 0 20px 20px;
    opacity: 1;
  }
  10% {
    border-radius: 20px;
  }
  100% {
    top: 45%;
    border-radius: 20px;
    opacity: 1;
  }
}
@media screen and (min-width: 600px) {
  main nav {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  main nav {
    width: 30%;
  }
}
